* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  background-color: #661414;
}

button {
  font: inherit;
  padding: 0.25rem 0.5rem;
  background: #c03d44;
  border-radius: 5px;
  color: white;
  border: none;
  cursor: pointer;
}

button:focus {
  outline: none;
}

button:hover,
button:active {
  background: #ea6f75;
  box-shadow: 2px 2px 5px black;
}